html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
dl,
dt,
dd,
ol,
ul,
li,
form,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    font-size: 16px;
    background: url("service/photos/hotpng9.png") no-repeat;
    background-attachment: fixed;
    /* fiksiruet izobrajenie na ekrane */
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-size: 100%;
    /* Современные браузеры */
    text-shadow: white 0 0 5px;
    /* text-shadow: white 0.5px 0.5px 0, white -0.5px -0.5px 0, white -0.5px 0.5px 0, white 0.5px -0.5px 0; */
    background-image: linear-gradient(left, rgb(30, 255, 0), rgb(255, 196, 0));
    background-image: -o-linear-gradient(left, rgb(30, 255, 0), rgb(255, 196, 0));
    background-image: -moz-linear-gradient(left, rgb(30, 255, 0), rgb(255, 196, 0));
    background-image: -webkit-linear-gradient(left, rgb(30, 255, 0), rgb(255, 196, 0));
}

.countainer {
    margin-left: 170px;
    margin-right: 170px;
}

.div {
    margin: 10px;
    background-color: yellowgreen;
}

.div:nth-child(2n) {
    background-color: silver;
}

ul {
    width: 180px;
    /* Ширина меню */
    list-style: none;
    /* Для списка убираем маркеры */
    margin: 0;
    /* Нет отступов вокруг */
    padding: 0;
    /* Убираем поля вокруг текста */
    font-family: Arial, sans-serif;
    /* Рубленый шрифт для текста меню */
    font-size: 10pt;
    /* Размер названий в пункте меню */
}

li ul {
    position: absolute;
    /* Подменю позиционируются абсолютно */
    display: none;
    /* Скрываем подменю */
    margin-left: 165px;
    /* Сдвигаем подменю вправо */
    margin-top: -2em;
    /* Сдвигаем подменю вверх */
}

li a {
    display: block;
    /* Ссылка как блочный элемент */
    padding: 5px;
    /* Поля вокруг надписи */
    text-decoration: none;
    /* Подчеркивание у ссылок убираем */
    color: #666;
    /* Цвет текста */
    border: 1px solid #ccc;
    /* Рамка вокруг пунктов меню */
    background-color: #f0f0f0;
    /* Цвет фона */
    border-bottom: none;
    /* Границу снизу не проводим */
}

li a:hover {
    color: #ffe;
    /* Цвет текста активного пункта */
    background-color: #5488af;
    /* Цвет фона активного пункта */
}

li:hover ul {
    transition-duration: 2s;
    display: block;
    /* При выделении пункта курсором мыши отображается подменю */
    transition: 2s all;
}

.brd {
    border-bottom: 1px solid #ccc;
    /* Линия снизу */
}

td {
    width: 60px;
    height: 60px;
    border: solid 1px greenyellow;
    text-align: center;
}

li.test:hover {
    transition-duration: 1s;
    background-color: orangered;
    /* opacity: 0.5; */
    background-image: url("service/photos/hotpng1.png");
    border-radius: 0 20px 0 20px;
    padding-left: 60px;
    width: 30%;
    min-width: 100px;
    color: white;
}

li.test {
    margin: 0;
    padding: 10px 0 10px 30px;
    list-style: none;
    background-image: url("service/photos/hotpng.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    width: 200px;
}


/* a:link {
    color: blue;
    text-decoration: none
}

a:visited {
    color: pink;
    text-decoration: none
}

a:hover {
    color: red;
    text-decoration: underline
}

a:active {
    color: yellow;
    text-decoration: underline
} */

#div {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #eee;
    /* background-image: radial-gradient(rgb(163, 80, 80), rgb(70, 25, 112));
    background-image: -moz-radial-gradient(red, blueviolet);
    background-image: -webkit-radial-gradient(red, blueviolet); */
    background-image: radial-gradient(25% 30%, circle, red, blue);
    background-image: -moz-radial-gradient(25% 30%, circle, red, blue);
    background-image: -webkit-radial-gradient(25% 30%, circle, red, blue);
}

#p {
    margin: 0;
    padding-top: 60px;
    text-align: center;
    color: #eee;
}

#div1 {
    width: 200px;
    height: 100px;
    background-color: #eee;
    background-image: linear-gradient(left, blue, red);
    background-image: -o-linear-gradient(left, blue, red);
    background-image: -moz-linear-gradient(left, blue, red);
    background-image: -webkit-linear-gradient(left, blue, red);
}

#p1 {
    margin: 0;
    padding-top: 30px;
    text-align: center;
    color: white;
}

#leftReklam {
    width: 150px;
    float: left;
    color: white;
    background-color: blue;
    height: 500px;
}

#rightReklam {
    width: 150px;
    float: right;
    color: white;
    background-color: red;
    height: 500px;
}

#pobeq {
    width: 100px;
    height: 100px;
    background-color: red;
}

#pobeq:hover {
    transform: translate(-50px, -100px) skew(30deg, 10deg) scale(1.5) rotate(90deg);
    border-radius: 100px 100px 100px 0px;
    background-color: #5488af;
    transition-property: transform, border-radius, background-color;
    transition-duration: 2s, 3s, 5s;
}